<a href="https://colab.research.google.com/github/spidermanxvenom3/ict_assignments/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1
item1_price = int(input("Enter the price of item 1: "))
q1=int (input('quantity of item one'))
item2_price = int(input("Enter the price of item 2: "))
q2=int (input('quantity of item two'))
total_bill=item1_price*q1+item2_price*q2
print('total bill:',total_bill)

Enter the price of item 1: 45
quantity of item one3
Enter the price of item 2: 30
quantity of item two2
total bill: 195

In [ ]:
# 2
C=int(input("Enter the temperature in celsius"))
F=(C*9/5)+32
print("temperature in fahrenheit:",F)

Enter the temperature in celsius30
temperature in fahrenheit: 86.0

In [ ]:
# 3
basic=int(input("Enter the basic salary"))
HRA=0.2*basic
DA=0.1*basic
total_salary=basic+HRA+DA
print("print the net salary:",total_salary)

Enter the basic salary20000
print the net salary: 26000.0

In [ ]:
# 4
principle=int(input("Enter the principle:"))
rate_of_interest=int(input("Enter the rate of interest:"))
time=int(input("Enter the time(in years):"))
simple_interest=(principle*rate_of_interest*time)/100
print("simple interest:",simple_interest)

Enter the principle:10000
Enter the rate of interest:5
Enter the time(in years):2
simple interest: 1000.0

In [ ]:
# 5
total_min=int(input("Enter the total minutes:"))
hours=total_min//60
minutes=total_min%60
print(hours,"hours and",minutes,"minutes")

Enter the total minutes:130
2 hours and 10 minutes

In [ ]:
# 6
weight=int(input("Enter the weight in kg:"))
height=float(input("Enter the height in meters:"))
BMI=weight/(height*height)
print("BMI:",BMI)

Enter the weight in kg:60
Enter the height in meters:1.65
BMI: 22.03856749311295

In [ ]:
# 8
a=float(input("Enter side a:"))
b=float(input("Enter side b:"))
c=float(input("Enter side c:"))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print("Area of triangle:",area)

Enter side a:5
Enter side b:6
Enter side c:7
Area of triangle: 14.696938456699069

In [ ]:
# 9
painter_rate = 25 # ₹ per square meter

wall_length = float(input("Enter the wall length in meters: "))
wall_height = float(input("Enter the wall height in meters: "))
wall_area = wall_length * wall_height
window_length = 1.5
window_height = 1.2
window_area = window_length * window_height
total_windows_area = 2 * window_area
area_to_be_painted = wall_area - total_windows_area
total_cost = area_to_be_painted * painter_rate
print(f"Total area to be painted: {area_to_be_painted:.2f} square meters")
print(f"Total cost to paint: ₹{total_cost:.2f}")

Enter the wall length in meters: 12
Enter the wall height in meters: 8
Total area to be painted: 92.40 square meters
Total cost to paint: ₹2310.00

In [ ]:
# 10
u=int(input("enter the the number of unit"))
cost=100
price=u*5.2
amount=price+cost
print(amount)

enter the the number of unit250
1400.0