<a href="https://colab.research.google.com/github/spidermanxvenom3/ict_assignments/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1 Write a Python function to Ô¨Ånd the Max of three numbers

In [ ]:
def find_max_three_numbers(a, b, c):
    """Finds the maximum of three numbers."""
    return max(a, b, c)

# Example usage:
print(f"Max of (10, 20, 5): {find_max_three_numbers(10, 20, 5)}")
print(f"Max of (0, -1, -10): {find_max_three_numbers(0, -1, -10)}")

Max of (10, 20, 5): 20
Max of (0, -1, -10): 0

#2 Write a Python function to sum all the numbers in a list.

In [ ]:
def sum_list_numbers(numbers):
    """Sums all numbers in a list."""
    return sum(numbers)

# Example usage:
my_list = [1, 2, 3, 4, 6]
print(f"Sum of {my_list}: {sum_list_numbers(my_list)}")

another_list = [10, -2, 9]
print(f"Sum of {another_list}: {sum_list_numbers(another_list)}")

Sum of [1, 2, 3, 4, 6]: 16
Sum of [10, -2, 9]: 17

#3  Python program to insert a number to any position in a list (Get the number to be inserted and position from the user)

In [ ]:
my_list = [10, 20, 30, 40, 50]
print(f"Original list: {my_list}")

number = int(input("Enter number to insert: "))
position = int(input("Enter position (0-indexed): "))

my_list.insert(position, number)

print(f"List after insertion: {my_list}")

Original list: [10, 20, 30, 40, 50]
Enter number to insert: 3
Enter position (0-indexed): 3
List after insertion: [10, 20, 30, 3, 40, 50]

#4  Write a program to rename a key city to a location in the following dictionary. sample_dict = { "name": "Kelly",  "age":25,  "salary": 8000, "city": "New york"}

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

print("Original dictionary:", sample_dict)

# Get the value associated with the 'city' key
city_value = sample_dict.pop("city")

# Add a new key 'location' with the retrieved value
sample_dict["location"] = city_value

print("Dictionary after renaming 'city' to 'location':", sample_dict)

Original dictionary: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}
Dictionary after renaming 'city' to 'location': {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [7]:
#5
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

print("Original dictionary:", sample_dict)

for emp_id, emp_info in sample_dict.items():
    if emp_info['name'] == 'Brad':
        emp_info['salary'] = 8500
        break # Assuming only one 'Brad' or we want to update the first one found

print("Dictionary after changing Brad's salary:", sample_dict)

Original dictionary: {'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}
Dictionary after changing Brad's salary: {'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [10]:
#6
tuple1 = (11, 22, 33, 44, 55, 66)

# Extract elements 44 and 55 using slicing
new_tuple = tuple1[3:5]

print(f"New tuple with elements 44 and 55: {new_tuple}")

New tuple with elements 44 and 55: (44, 55)

In [11]:
#7
tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)

# Count the occurrences of item 50
count_of_50 = tuple1.count(50)

print(f"Original tuple: {tuple1}")
print(f"Number of occurrences of 50: {count_of_50}")

Original tuple: (50, 10, 60, 70, 50, 83, 567, 50, 81)
Number of occurrences of 50: 3